@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.library {
    width: 100%;
    min-height: 100vh;
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.library-hero {
    width: 100%;
    height: 165px;
    padding-top: 100px;
    display: flex;
    background-color: #4158d0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.container form input {
    padding: 8px 20px;
    color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

/* BOOK CARDS */

.book-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    min-height: 180px;
    gap: 40px;
    margin-top: 50px;
    padding-left: 70px;
}

.book-cards .one {
    width: 280px;
    height: 200px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid orange;
    background: #3e3e3e !important;
    cursor: pointer;
    color: #fff;
}

.book-cards .card {
    width: 280px;
    height: 200px;
    border: 3px solid orange;
    background: #b9d7d5;
}

.overlay {
    width: 100%;
    align-items: center;
    display: none;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.506);
    backdrop-filter: blur(2px);
}

.hidden {
    display: flex;
}

.overlay>i {
    font-size: 30px;
    position: absolute;
    right: 40px;
    top: 20px;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.overlay>i:active {
    scale: .9;
}

.overlay .modal {
    width: 600px;
    height: 650px;
    border-radius: 12px;
    border: 5px solid orange;
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    padding: 15px;
    overflow-y: scroll;
}

/* MODAL FORM */

.modal form {
    line-height: 45px;
}

form .modal-form-title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
}

.modal form label {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.modal form input {
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.modal form textarea {
    width: 100%;
    outline: none;
    font-size: 15px;
    text-indent: 10px;
    padding-top: 10px;
    text-align: justify;
    border-radius: 3px;
    border: none;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

.modal form select {
    width: 100%;
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
    text-indent: 10px;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.modal form button {
    padding: 8px 40px;
    margin-left: 200px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}